/* auth.css 
    * Styles for authentication pages (login, register, etc.)
*/

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    padding: 8rem 0;
}

.auth-container form {
    margin: 30px 0;
    width: 100%;
}

.auth-container h1 {
    margin-top: 8px;
    font-size: 1.5rem;
}

.auth-container a {
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--secondary-text-color);
    text-decoration: underline;
}

.auth-container a:hover {
    color: var(--text-color);
}

.auth-container p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--secondary-text-color);
}

.need-to-login-message {
    color: var(--warning-color) !important;
}

/* password toggle button */
.input-group div {
    position: relative;
}

input[type="password"] {
    padding-right: 45px;
}

.password-toggle {
    width: 35px;
    height: 35px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    transform: translateY(-35px);
}
.password-toggle:hover {
    background-color: transparent;
    border: none;
}
.password-toggle:focus {
    border: none;
    outline: none;
}

.password-toggle svg {
    stroke: var(--secondary-text-color);
}
.password-toggle:hover svg {
    stroke: var(--primary-color);
}

@media (max-width: 700px) {
    .auth-container {
        max-width: 100%;
        
    }
    
}