/* button.css
    * This file contains the CSS styles for the button component of the application.
    * There are various button styles defined, including primary, secondary, warning, ghost, and icon buttons.
    * Each button style has its own hover and focus states, as well as styles for disabled states.
    * The buttons are designed to be responsive and accessible, with appropriate colors and sizes.
*/

.primary-button,
button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 1px solid var(--primary-color);
    font-weight: 500;
    font-size: 0.875rem;
    padding: 8.5px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.primary-button:hover,
button:hover {
    background-color: var(--primary-color-hover);
    border: 1px solid var(--primary-color-hover);
}

.primary-button:focus,
button:focus {
    border: 1px solid var(--primary-color-hover);
}

.primary-button:disabled,
button:disabled {
    border-color: var(--disabled-color);
    background-color: var(--disabled-color);
    cursor: not-allowed;
}

.secondary-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.secondary-button:hover {
    background-color: var(--background-color-hover);
    border: 1px solid var(--border-color);
}

.warning-button {
    border-color: var(--warning-color);
}

.warning-button:hover {
    background-color: var(--warning-color);
    color: var(--background-color);
}

.ghost-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
}

.ghost-button:hover {
    border: none !important;
    background-color: var(--background-color-hover);
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.icon-button svg {
    width: 1rem;
    height: 1rem;
}

.large-button {
    gap: 1rem;
    padding: 13.5px 2rem;
    font-weight: 500;
    font-size: 0.875rem;
}

.medium-button {
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 0.875rem;
}