/* form.css
    * This file contains the CSS styles for the standard form component of the application.
    * It includes styles for form layout, input fields, buttons, and error messages.
    * The form is designed to be responsive and user-friendly, with appropriate spacing and focus state
    * Some forms may include additional styles for specific input types or validation states.
*/


form {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    gap: 1rem;
}

form input,
form textarea,
form select {
    border: 1px solid var(--border-color);
    padding: 0.5rem 1rem;
    border-radius: calc(0.5rem - 2px);
    width: 100%;
    font-size: 0.875rem;
}

form input:focus,
form textarea:focus,
form select:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

form select:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%2318181B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E"); /* SVG for down arrow */
}

form textarea {
    resize: vertical;
    min-height: 80px;
    font-family: "Inter", sans-serif;
}

form select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%2371717a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E"); /* SVG for down arrow */
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
    padding-right: 2.5rem;
}

form .error {
    border-color: var(--error-border);
}

form button {
    width: 100%;
}

.input-line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
}

.input-group label {
    font-weight: 500;
    font-size: 0.875rem;
}

.input-subgroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.input-subgroup select {
    width: fit-content;
}

.error-message {
    color: var(--error-border) !important;
}

/* Responsive styles */
@media (max-width: 700px) {
    form{
        border: none;
    }
}