/* index.css
    * This file contains the CSS styles for the index/landing/home page of the application.
    Sections in this file:
    * 1. Hero section styles
    * 2. Featured recipes section styles
    * 3. Start sharing container styles
    * 4. How to use section styles
*/

/* 1. Hero section styles */
.hero-container {
    padding-top: 2rem;
    justify-content: center;
    padding-bottom: 3rem;
}

.hero-container h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.hero-container p {
    text-align: center;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    margin-bottom: 1.5rem;
}
.hero-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.hero-container div button svg {
    stroke: white;
}
/* Section end */

/* 2. Featured recipes section styles */
.featured-recipes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.featured-recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .featured-recipes {
        grid-template-columns: 1fr;
    }
    
    .recipe-card-content {
        padding: 16px;
    }
}
/* Section end */

/* 3. Start-sharing-container styles */
.start-sharing-container {
    display: flex;
    background-color: var(--foreground-color);
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 3rem;
}

.start-sharing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
}

.start-sharing h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.start-sharing p {
    margin-bottom: 1.5rem;
}

.start-sharing button {
    width: fit-content;
}

.start-sharing-image {
    margin-left: auto;
    margin-right: auto;
}

.start-sharing-image div{
    padding: 60px;
    background-color: white;
    border-radius: 100%;
}
@media (max-width: 700px) {
    .start-sharing-container {
        flex-direction: column;
        gap: 2rem;
    }
}
/* Section end */

/* 4. How to use section styles */
.how-to-container {
    padding-bottom: 2rem;
}

.how-to-container h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.how-to-container div {
    display: flex;
    gap: 2rem;
}

.how-to-step { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    gap: 0.5rem !important;
}

.how-to-step div {
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--icon-background);
}

.how-tp-step h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.how-to-step p {
    text-align: center;
}

/*responsive styles*/
@media (max-width: 700px) {
    .how-to-container div {
        flex-direction: column;
    }
}

@media(max-width: 440px) {
    .hero-container h1 {
        font-size: 1.875rem;
    }

    .hero-container p {
        font-size: 1rem;
    }

    .hero-container button {
        padding: 13.5px 1rem;
        font-size: 0.8rem;
    }

}

@media (max-width: 360px) {
    .hero-container button {
        padding: 13.5px 0.5rem;
    }
}

/* Section end */

