/* settings.css 
    * This file contains styles for the settings page of the application.
*/

/* General Styles */
.profile-container {
    max-width: 1100px;
}

form {
    padding: 0;
    border: none;
}

.section {
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    margin-bottom: 2rem;
}

hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 1.5rem 0;
}

/* Backnav */
.backnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0px 1rem 0px;
}

.back-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


/* Settings Header */
.settings-header{
    margin-bottom: 1.5rem;
}

.settings-header h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.settings-header p {
    color: var(--secondary-text-color);
}

/*forms*/
input,
textarea {
    margin-top: 0.5rem;
}

.section h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.section p {
    color: var(--secondary-text-color);
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.profile-field-group{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.profile-field-group div{
    width: 100%;
}

.smt-bttn {
    width: fit-content;
}

#logout-form {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

#logout-form h4{
    font-weight: 500;
}

#logout-form p{
    margin: 0px;
    font-size: 0.875rem;
}

#export-form {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

#export-form h4{
    font-weight: 500;
}

#export-form p{
    margin: 0px;
    font-size: 0.875rem;
}


#danger-zone {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--error-background);
    border: 1px solid var(--error-border);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.delete-account{
    display: flex;
    border: 1px solid var(--error-border);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: space-between;
}


.delete-account h4{
    font-weight: 500;
    color: var(--error-border);
}

.delete-account p{
    margin-bottom: 0px;
    margin-right: 10px;
    font-size: 0.875rem;
}


.delete-button {
    background-color: var(--error-border);
    color: white;
    border: none;
}

.delete-button:hover {
    background-color: var(--error-border);
    border: none;
}