/* This file contains the general CSS styles for the application. It includes styles for the header, footer, buttons, and other frequently u elements. */

/*general styles*/
:root {
    --text-color: black;
    --secondary-text-color: #71717a;
    --foreground-color: #f4f4f5;
    --primary-color: #18181B;
    --primary-color-hover: #4c4c51;
    --border-color: #E5E7EB;
    --background-color: white;
    --background-color-hover: #F3F4F6;
    --footer-background-color: #f4f4f566;
    --icon-background: #18181b1a;
    --error-border: #ec0c0c;
    --max-width: 1400px;
}

* {
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 1px solid var(--primary-color);
    font-weight: 500;
    font-size: 0.875rem;
    padding: 8.5px 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color-hover);
    border: 1px solid var(--primary-color-hover);
}

button:focus {
    border: 1px solid var(--primary-color-hover);
}

.secondary-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.secondary-button:hover {
    background-color: var(--background-color-hover);
    border: 1px solid var(--border-color);
}

.gost-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
}

.gost-button:hover {
    border: none !important;
    background-color: var(--background-color-hover);
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.icon-button svg {
    width: 1rem;
    height: 1rem;
}

.large-button {
    gap: 1rem;
    padding: 13.5px 2rem;
    font-weight: 500;
    font-size: 0.875rem;
}

.medium-button {
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 0.875rem;
}


a {
    font-weight: 500;
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color-hover);
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    gap: 1rem;
}

form input {
    border: 1px solid var(--border-color);
    padding: 0.5rem 1rem;
    border-radius: calc(0.5rem - 2px);
    width: calc(100% - 2rem);
    font-size: 0.875rem;
    box-sizing: content-box;
}

form input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

form .error {
    border-color: var(--error-border);
}

form button {
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group label {
    font-weight: 500;
    font-size: 0.875rem;
}

.error-message {
    color: var(--error-border) !important;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div {
    max-width: calc(var(--max-width) - 32px);
    width: 100vw;
    padding: 0 16px;
}

main div div {
    width: auto;
    padding: 0;
}

/*responsive styles*/
.mobile-only {
    display: none;
}

@media (max-width: 700px) {
    * {
        overflow-x: hidden;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .large-button {
        gap: 0;
    }


}

/*general styles end */

/*header styles*/
header {
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(var(--max-width) - 32px);
    width: 100vw;
    padding: 16px;
}

header div div {
    padding: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: flex-start;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 10px;
}

.nav-links {
    width: fit-content;
    justify-content: center;
    gap: 1.5rem;
}

.auth-buttons {
    width: fit-content;
    justify-content: flex-end;
    gap: 1rem;
}

header form {
    border-radius: 0;
    border: none;
    padding: 0 !important;
}

/*responsive styles*/
@media (max-width: 700px) {
    .mobile-nav {
        z-index: 100;
        display: none;
        position: absolute;
        background-color: var(--background-color);
        width: 100vw;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        gap: 0.5rem;
        padding: 1rem 16px;
    }

    .mobile-nav button {
        width: 100%;
    }

    .mobile-nav a {
        text-align: center;
        width: 100%;
        padding: 0.5rem 1rem;
        font-weight: 500;
        font-size: 0.875rem;
        color: var(--text-color);
    }

    .mobile-nav-background {
        position: fixed;
        /* Ensure it covers the entire page */
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        /* Use viewport height to cover the entire screen */
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 50;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav form {
        width: 100%;
        border-radius: 0;
        border: none;
        padding: 0 !important;
    }
}

/*header styles end*/


/*footer styles*/
footer {
    display: flex;
    justify-content: center;
    background-color: var(--footer-background-color);
    border-top: 1px solid var(--border-color);
}

footer div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(var(--max-width) - 32px);
    width: 100vw;
    padding: 2rem 16px;
    gap: 3%;
}

footer div div {
    display: block;
    padding: 0;
    width: fit-content;
    width: 100%;
}

.footer-logo-container div {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: flex-start;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 1rem;
}

.footer-logo-container p {
    color: var(--secondary-text-color);
    font-size: 0.875rem;
}

.footer-links-container h2 {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: inherit;
}

.footer-links-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.footer-links-container div a {
    font-weight: 400;
    color: var(--secondary-text-color);
}

.footer-links-container div a:hover {
    color: var(--text-color);
}

/*responsive styles*/
@media (max-width: 700px) {
    footer div {
        flex-direction: column;
    }

    footer div div {
        margin-bottom: 2rem;
    }

    .footer-logo-container {
        gap: 0.5rem;
    }

    .footer-logo-container div {
        flex-direction: row;
    }

    .footer-links-container div {
        gap: 1rem;
        margin-bottom: 0;
    }
}

/*footer styles end*/


/*style for onpage taps*/
.section-taps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;

    background-color: var(--foreground-color);
    padding: 0.25rem;
    border-radius: calc(0.5rem - 2px);
}

.section-taps button {
    color: var(--secondary-text-color) !important;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    width: 25%;
    background: none;
    border: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 0.875rem;
}

.section-taps .active-tap{
    color: var(--text-color);
    background-color: var(--background-color) !important;
    border-radius: calc(0.5rem  - 6px);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}