/* styles.css
    * This file contains the general CSS styles for the application and frequently used components.
    * It includes color variables, global styles, layout styles, and responsive styles.
*/ 

/*color variables*/
:root {
    --text-color: black;
    --secondary-text-color: #71717a;
    --foreground-color: #f4f4f5;
    --primary-color: #18181B;
    --disabled-color: #8f8f94;
    --primary-color-hover: #4c4c51;
    --border-color: #E5E7EB;
    --background-color: white;
    --background-color-hover: #F3F4F6;
    --footer-background-color: #f4f4f566;
    --icon-background: #18181b1a;
    --error-border: #ec0c0c;
    --error-color: #ef4444;
    --error-background: #ec0c0c1c;
    --success-color: #0d5a29;
    --warning-color: var(--error-color);
    --max-width: 1400px;
}

/*global styles*/
* {
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    font-weight: 500;
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color-hover);
}

/*layout styles*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    position: relative;
    z-index: 1;
}

main div {
    max-width: calc(var(--max-width) - 32px);
    width: 100vw;
    padding: 0 16px;
}

main div div {
    width: auto;
    padding: 0;
}

.badge{
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    background-color: var(--primary-color);
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
}

/*responsive styles*/
.mobile-only {
    display: none;
}

@media (max-width: 700px) {
    html,
    body {
        overflow-x: hidden;
    }

    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
}

