/* taps.css
    * This file contains the styles for the tap components in the application.
 */


.section-taps {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 2rem;
    width: 100%;
    background-color: var(--foreground-color);
    padding: 0.25rem;
    border-radius: calc(0.5rem - 2px);
    min-height: 40px;
}

.section-taps button {
    color: var(--secondary-text-color) !important;
    padding: 0.375rem 0.5rem;
    line-height: 1.25rem;
    background: none;
    border: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 0.875rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: calc(0.5rem - 6px);
}

.section-taps .active-tap {
    color: var(--text-color) !important;
    background-color: var(--background-color) !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

